<div class="border-bottom row" style="margin-bottom:"5px; padding-bottom:5px;>
        <div class='col-9'>
        <h5 style="color:rgb(129,120,120); margin-bottom:5px;">{{course['course']}}</h5>
        <div><b>Qualification: </b> {{course['Qualification']}} </div>
        <div><b>Fees: </b> {{course['Fees']}} </div>
        <div><b>Prerequisite: </b>{{course['Prerequisite']}}</div>
        </div>
 <div class='col-3'>
    <a href={{course['Hyperlink']}} type="button" class="btn btn-primary">Apply</a>
     <a href={{course['Hyperlink']}} type="button"  class="btn btn-outline-secondary">View Course</a>
 </div>
 

</div>